/* Resets all space on browsers 
   and gets rid of any extra padding/margin when applying height and widths of Divs
*/
/* CSS animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* Starts 100px left */ }
  80% {
    transform: translateX(1rem);
    /* goes to the right and then returns */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* Finishes back to normal */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /* Starts 100px right */ }
  80% {
    transform: translateX(-1rem);
    /* goes to the left and then returns */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* Finishes back to normal */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    /* Starts 30px from bottom */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /* Finishes back to normal */ } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 30px;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* hides that subtle tweak after an animation */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out; }

.heading-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 800;
  background-image: linear-gradient(to right, #FA198B, #000000);
  display: inline-block;
  -webkit-background-clip: text;
  /* Crazy clipping of background */
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.sub-heading {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* Buttons */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 30rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1s ease-in-out .75s;
  /* A little delay */
  animation-fill-mode: backwards;
  /* automatically applies styles before animation */ }

.btn-text:link, .btn-text:visited {
  color: #FA198B;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FA198B;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #FA198B;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 5px;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #FA198B;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: #14B6CC; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(20, 182, 204, 0.8), rgba(250, 25, 139, 0.8)), url(../img/brock.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  /* sets position since the header is the parent of the logo box */ }
  .header__logo-box {
    position: absolute;
    /* enables use of top, left, etc. */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__logo:hover {
    animation: spin 1s linear 1;
    backface-visibility: hidden;
    /* hides that subtle tweak after an animation */
    cursor: pointer; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  display: flex;
  max-width: 114rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  /* All attributes that start with col */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  .row .col-3 {
    flex: 3; }
  .row .col-4 {
    flex: 4; }
  .row .col-5 {
    flex: 5; }

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0 40rem 0;
  margin-top: -15vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(20, 182, 204, 0.8), rgba(250, 25, 139, 0.8)), url(../img/ash-2.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
