$color-primary: #FA198B;
$color-secondary: #14B6CC;
$color-primary-dark: #000000;
$color-accent: #1AFA19;

$color-body: #424242;
$color-light-gray: #f7f7f7;

$color-secondary-dark: #F75C03;
$color-secondary-light: #FFBA5A;

$color-three-dark: #2A7DD1;
$color-three-light: #7EFAFF;

$drk-gray: #777;
$white: #fff;

$body-font-size: 1.6rem;
$bold: 800;

$shadow: 0 1.5rem 4rem rgba($color-primary-dark, .15);

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; 