body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $drk-gray;
    padding: 30px;
    box-sizing: border-box;
}

.heading-primary {
    color: $white;
    text-transform: uppercase;
    backface-visibility: hidden; /* hides that subtle tweak after an animation */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-in-out;
    }
}

.heading-secondary {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: $bold;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text; /* Crazy clipping of background */
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0,0,0,.2);
    }
}